@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;500;700&display=swap");
/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
    min-width: 100%;
}
main {
    /* color: #fff; */
    /* color: var(--dark-blue); */
    line-height: 1.6;
    /* min-width: 100%; */
    min-height: 100vh;
    /* padding: 20px; */
    /* background: var(--pale-blue); */
}
/* navbar styles */

.logo {
    font-family: "Comfortaa";
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    white-space: nowrap;
}

.navigation__list {
    font-family: "Comfortaa";
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: end;
    padding-block: 1rem;
    padding: 0;
    /* gap: 0.6rem; */
    /* background: hsl(0, 0%, 0%, 0.5); */
    /* background: var(--dark-blue); */
}
.navigation__list a {
    text-decoration: none;
    font-weight: 700;
    color: var(--dark-blue);
}
.navigation__list .active {
    background-color: var(--pale-blue);
    padding: 10px;
    border-radius: 9px;
}
.nav-toggle {
    display: none;
}
/* @supports (backdrop-filter: blur(1rem)) {
    .navigation__list {
        background: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
    }
} */
@media (min-width: 35em) {
    .navigation__list {
        /* padding-block: 1rem; */
        /* padding-inline: clamp(3rem, 10vw, 10rem); */
        /* gap: clamp(0.5rem, 5vw, 0.5rem); */
    }
}

@media (max-width: 992px) {
    .primary-header {
        padding-right: 2rem;
    }
}
@media (max-width: 768px) {
    .navigation__list {
        position: fixed;
        /* z-index: 10; */
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: 0 2rem 24rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .navigation__list[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        /* z-index: 20; */
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* navbar end */

ul {
    list-style: none;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0.4em;
}
::-webkit-scrollbar-track {
    background: #e5e7eb;
    /* border-radius: 100vw; */
    /* margin-block: 0.2rem; */
}

::-webkit-scrollbar-thumb {
    background: #525252;
    /* border: 0.3rem solid #e5e7eb; */
    /* border-radius: 100vw; */
}

::-webkit-scrollbar-thumb:hover {
    background: #18181b;
}

/* footer */
.attribution {
    /* background-color: var(--very-pale-blue); */
    padding: 15px 0;
    text-align: center;
    /* color: var(--desaturated-blue); */
    font-family: "Comfortaa";
    font-weight: 800;
    font-size: 0.9rem;
}

.attribution p {
    word-spacing: 0.1rem;
}
.attribution a {
    text-decoration: none;
    /* color: var(--desaturated-blue); */
    position: relative;
}

.attribution a::after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    /* background-color: var(--bright-blue); */
    width: 100%;
    height: 3px;

    transform: scalex(0.4);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.attribution a:hover::after {
    transform: scalex(1);
}

.sidebar,
.dashboard {
    font-family: "Comfortaa";
}

.landing {
    font-family: "DM Sans", sans-serif;
}
@layer components {
    .sidebar-icon {
        @apply w-full aspect-square grid items-center justify-items-center grid-cols-1 bg-gray-800 text-white hover:bg-white hover:text-gray-800 hover:rounded-xl rounded-3xl cursor-pointer transition-all;
    }

    .sidebar-icons {
        @apply grid items-center justify-items-center grid-cols-1 w-full bg-gray-800 text-white rounded-3xl cursor-pointer transition-all overflow-x-hidden;
    }

    .sidebar-item {
        @apply w-full transition-all grid grid-cols-auto grid-flow-col items-center justify-center h-12 gap-x-2 px-4 cursor-pointer hover:bg-sky-600 overflow-x-hidden;
    }

    .sidebar-items {
        @apply w-full transition-all grid gap-x-2 cursor-pointer overflow-x-hidden;
    }

    .pagination-btn {
        @apply hidden md:inline-flex btn rounded-none p-0 border-0;
    }
    .hide {
        @apply hidden;
    }
}
